* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(165, 161, 161);
}

a {
    text-decoration: none;
    text-align: left;
    color: black;
}

main {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 335px;
    position: absolute;
    margin-right: 335px;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: rgb(206, 204, 204);
}

#navegacao {
    border-bottom: 1px solid rgb(255, 255, 255);
    display: block;
    text-align: center;
    background-color: rgb(206, 204, 204);
}

#navegacao ul {
    list-style: none;
    display: inline-block;
}

#navegacao ul li {
    margin: 20px;
    display: inline-block;
}

header {
    text-align: center;
    margin-top: 2%;
}

#table-info {
    border: 4px solid rgb(165, 161, 161);
    margin-top: 10px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#table-info tr:nth-of-type(1)  {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#table-info th {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#info p {
    margin-top: 5px;
    font-weight: bold;
    font-style: italic;
}

#info {
    border: 1px solid rgb(206, 204, 204);
    border-radius: 30px;
    background-color: rgb(206, 204, 204);
    display: inline-block;
    text-align: center;
    height: 400px;
}

#info h3 {
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    margin-top: 3%;
}

#barra {
    border: 2px solid rgb(255, 255, 255);
    position: fixed;
    margin-top: 250px;
    margin-left: 35px;
    margin-right: 37px;
    text-align: left;
}

#apresentacao {
    text-align: center;

}

#apresentacao article p {
    text-align: center;
}

#primeiro {
    text-align: center;
}

#imgpri {
    border-radius: 10%;
    height: 250px;
}

#segundo {
    text-align: center;
}

#imgseg {
    border-radius: 10%;
    height: 250px;
}

#terceiro {
    text-align: center;
}

#imgter {
    border-radius: 10%;
    height: 250px;
}

#quarto {
    text-align: center;
}

#imgqua {
    border-radius: 10%;
    height: 250px;
    width: 348.77px;
}

#quinto {
    text-align: center;
}

#quinto ul {
    margin-top: 40px;
    list-style: none;
}

#imgqui {
    border-radius: 10%;
    height: 250px;
    width: 348.77px;
}

.artigos {
    margin-top: 60px;
    width: 65%;
    display: inline-block;
}

.artigos h2, h3 {
    margin-bottom: 40px;
}

.artigos p {
    margin-top: 40px;
}
