* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(206, 204, 204);
}

a {
    text-decoration: none;
    text-align: left;
    color: black;
}

#navegacao {
    border-bottom: 1px solid black;
    display: block;
    text-align: center;
    position: sticky;
}

#navegacao ul {
    list-style: none;
    display: inline-block;
}

#navegacao ul li {
    margin: 20px;
    display: inline-block;
}

header {
    text-align: center;
    margin-top: 2%;
}

#table-info {
    border: 1px solid black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

#table-info tr:nth-of-type(1)  {
    display: block;
}

#table-info th {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}

#info p {
    font-weight: bold;
    font-style: italic;
}

#info {
    border: 1px solid black;
    display: inline-block;
}

h2 {
    text-align: center;
    margin-top: 3%;
}

#barra {
    margin-top: 5%;
    text-align: center;
}

#apresentacao {
    text-align: center;
}

#apresentacao article p {
    text-align: center;
}

#primeiro {
    text-align: center;
}

#imgpri {
    border-radius: 10%;
    height: 250px;
}

#segundo {
    text-align: center;
}

#imgseg {
    border-radius: 10%;
    height: 250px;
}

#terceiro {
    text-align: center;
}

#imgter {
    border-radius: 10%;
    height: 250px;
}

#quarto {
    text-align: center;
}

#imgqua {
    border-radius: 10%;
    height: 250px;
    width: 348.77px;
}

#quinto {
    text-align: center;
}

#quinto ul {
    list-style: none;
}

#imgqui {
    border-radius: 10%;
    height: 250px;
    width: 348.77px;
}

.artigos {
    width: 50%;
    display: inline-block;
}
