* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(44, 43, 43);
}

header {
  text-align: center;
  margin: 50px auto;
  border: 1px solid rgb(73, 73, 73);
  width: 50%;
  border-radius: 3px;
  background-color: rgb(73, 73, 73);
  padding: 20px;
}

textarea {
  width: 80%;
  resize: none;
  margin-top: 5px;
}

.line-content input[type='radio'] {
  margin-left: 10px;
}

.line-content {
  text-align: center;
  font-size: 18px;
}

#form-content {
  margin: auto;
  border: 1px solid rgb(73, 73, 73);
  width: 50%;
  border-radius: 3px;
  background-color: rgb(73, 73, 73);
  padding: 20px;
}

#nome-completo {
  width: 20%;
}

#email {
  margin-top: 5px;
  width: 20%;
}

#btn-enviar,
#btn-reset {
  background-color: rgb(2, 141, 255);
  font-weight: bold;
  margin-left: 5px;
  padding: 5px 20px;
  border: none;
  color: white;
}

#btn-enviar:hover,
#btn-reset:hover {
  background-color: rgb(2, 166, 255);
  cursor: pointer;
}
