.super-mario {
    width: 200px;
    position: absolute;
    z-index: 0;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 360px;
    left: 120px;
    z-index: 1;
  }
  
  .baloon {
      position: absolute;
      top: 50px;
      left: 360px;
      z-index: 3;
  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    top: 96px;
    left: 380px;
    z-index: 4;

  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top: 200px;
    left: 640px;
    z-index: 2;
  }